PORT=4000
DATABASE_URL=postgresql://casa:secret@localhost:5432/casaselva
JWT_SECRET=cambia-esto
CLIENT_URL=https://thecasaselva.com
SQUARE_ACCESS_TOKEN=EAAAlzMSxXlNVPT6xmZkfl8_wfB5nJqbrXkmOhmi4KHUSUhkHDOoM4HmIXnN_t48
SQUARE_ENV=sandbox-sq0idb-zL0JWNDLuZri0d2wqRmFQA
SQUARE_LOCATION_ID=LQ3FVWH6QW1G1
SQUARE_WEBHOOK_SIGNATURE_KEY=
SENDGRID_API_KEY=
SENDGRID_FROM=reservas@thecasaselva.com
PROPERTY_ADDRESS=1234 Hidden Garden Way, Plantation, FL 33325
PROPERTY_MAPS_URL=https://maps.google.com/?q=26.1276,-80.2700
